/* You can add global styles to this file, and also import other style files */

/* html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;
.snackbar-danger {
  background-color: #f44336;
  color: white;
}

.snackbar-success {
  background-color: rgb(56, 142, 60);
  color: white;
}

.userheading h2,
.userheading p {
  margin: 0;
}

.mat-column-value {
  width: 50px !important;
}
