<mat-sidenav-container>
  <mat-sidenav
    class="w-48 bg-[#1939ab] text-white rounded-lg p-4 text-center"
    mode="side"
    opened
  >
    <button
      mat-button
      class="menu-button"
      (click)="updateView('profile')"
      [ngClass]="{ 'bg-teal-400': isProfile }"
    >
      <mat-icon>person</mat-icon><span>Profile</span>
    </button>
    <button
      mat-button
      class="menu-button"
      (click)="updateView('requests')"
      [ngClass]="{ 'bg-teal-400': isRequests }"
    >
      <mat-icon>remove_red_eye</mat-icon><span>Requests</span>
    </button>
    <button
      mat-button
      class="menu-button"
      (click)="updateView('revoke')"
      [ngClass]="{ 'bg-teal-400': isRevoke }"
    >
      <mat-icon>remove_red_eye</mat-icon><span>Categories</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div
      class="flex flex-col ml-5 justify-start p-12 rounded-lg mat-elevation-z4 usercomponent"
    >
      <!-- Header information for the owner-->
      <div class="w-full pb-2 user-welcome-info">
        <p class="text-lg">Welcome: {{ superAdmin }}</p>
        <p>Account type: Super Admin</p>
      </div>
      <div class="my-7" *ngIf="isProfile">
        <p>This profile page can be updated in future</p>
        <button
          class="px-5 py-3 text-base rounded-md text-zinc-800 bg-lime-500 hover:bg-lime-700 hover:text-white duration-500"
          (click)="updateView('requests')"
        >
          View requests
        </button>
      </div>

      <!-- Section for Adding and updating datasets-->
      <div class="my-7" *ngIf="isRequests">
        <div class="flex justify-between">
          <h2 class="text-lime-700">Users requests for approval</h2>
        </div>
        <div class="flex gap-10 mt-3">
          <div class="w-2/3">
            <mat-form-field appearance="standard">
              <mat-label>Filter</mat-label>
              <input
                matInput
                (keyup)="applyFilter($event)"
                placeholder="Search"
                #input
              />
            </mat-form-field>
            <table
              mat-table
              [dataSource]="dataSource"
              class="mat-elevation-z8 w-full"
            >
              <!-- Position Column -->
              <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef>User address</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.userAddress }}
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.userType }}
                </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Approval status</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.approved }}
                </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element">
                  <button
                    mat-raised-button
                    class="text-white bg-purple-700 hover:bg-purple-800"
                    (click)="getUserDetails(element)"
                  >
                    Get attributes
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">
                  No data matching the filter "{{ input.value }}"
                </td>
              </tr>
            </table>
          </div>
          <div class="w-1/3">
            <mat-card class="mat-elevation-z8">
              <mat-card-title class="text-lg text-purple-700"
                >Selected user attributes:</mat-card-title
              >
              <div
                class="flex justify-center items-center h-56"
                *ngIf="isAttributeLoading"
              >
                <mat-spinner></mat-spinner>
              </div>
              <mat-card-content
                *ngIf="
                  userWaitingForApproval.userType === 2 && !isAttributeLoading
                "
              >
                <p>
                  Address:
                  {{
                    userWaitingForApproval.userAddress
                      ? userWaitingForApproval.userAddress
                      : ""
                  }}
                </p>
                <p>
                  Organisation:
                  {{
                    userWaitingForApproval.organisation
                      ? userWaitingForApproval.organisation
                      : ""
                  }}
                </p>
                <p>
                  Department:
                  {{
                    userWaitingForApproval.department
                      ? userWaitingForApproval.department
                      : ""
                  }}
                </p>
                <p>
                  Designation:
                  {{
                    userWaitingForApproval.designation
                      ? userWaitingForApproval.designation
                      : ""
                  }}
                </p>
              </mat-card-content>
              <mat-card-content
                *ngIf="
                  userWaitingForApproval.userType === 1 && !isAttributeLoading
                "
              >
                <p>
                  Address:
                  {{
                    userWaitingForApproval.userAddress
                      ? userWaitingForApproval.userAddress
                      : ""
                  }}
                </p>
                <p>
                  Profession:
                  {{
                    userWaitingForApproval.profession
                      ? userWaitingForApproval.profession
                      : ""
                  }}
                </p>
                <p>
                  Location:
                  {{
                    userWaitingForApproval.location
                      ? userWaitingForApproval.location
                      : ""
                  }}
                </p>
              </mat-card-content>
              <mat-card-actions align="end">
                <button
                  mat-button
                  class="text-white bg-purple-700 hover:bg-purple-800"
                  (click)="approveUser(userWaitingForApproval)"
                >
                  Approve
                </button>
                <button
                  mat-button
                  class="text-white bg-[#f44336] hover:bg-[rgb(180,30,19)]"
                  (click)="cancelApproval()"
                >
                  Cancel
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>

      <!-- Section to view and grant access to requests-->
      <div
        class="my-7 w-1/3 shadow-2xl p-4 rounded-md float-left"
        *ngIf="isRevoke"
      >
        <h2 class="text-lime-700">Add category</h2>
        <div class="flex justify-center items-center h-56" *ngIf="isLoading">
          <mat-spinner></mat-spinner>
        </div>
        <form
          [formGroup]="categoryForm"
          *ngIf="!isLoading"
          (ngSubmit)="addCategory()"
        >
          <mat-form-field appearance="fill" class="w-full mt-4">
            <mat-label>Category</mat-label>
            <input matInput formControlName="category" />
            <mat-error>Category is required</mat-error>
          </mat-form-field>
          <button
            class="disabled:opacity-40 float-right px-5 py-3 text-base rounded-md text-zinc-800 bg-lime-500 hover:bg-lime-700 hover:text-white duration-500"
            [disabled]="categoryForm.invalid"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
